# Ensure shell scripts keep Unix line endings (LF)
*.sh text eol=lf
cloudrun/entrypoint.sh text eol=lf
gcp/install.sh text eol=lf
gcp/deploy.sh text eol=lf

# Standard Git attributes
* text=auto
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
