# Keep these files out of the repo
wp-content/themes/twenty*
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc*
wp-content/w3tc/*
wp-content/wflogs/*
sitemap.*
wp-config.php
UserFiles
web.config
*.sql
*.mp4
node_modules
.htaccess
vendor
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
.vagrant
debug.log
.env