# Keep these files out of the repo
admin/wp-content/themes/twenty*
admin/wp-content/uploads/
admin/wp-content/blogs.dir/
admin/wp-content/upgrade/*
admin/wp-content/backup-db/*
admin/wp-content/advanced-cache.php
admin/wp-content/wp-cache-config.php
admin/wp-content/cache/*
admin/wp-content/cache/supercache/*
admin/wp-content/w3tc*
admin/wp-content/w3tc/*
admin/wp-content/wflogs/*
blog/wp-content/uploads/*
sitemap.*
wp-config.php
UserFiles
web.config
*.sql
*.mp4
node_modules
.htaccess
/website/vendor
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
.vagrant
debug.log
.env
*.pem
ssl/*.pem
ssl/cert.*
ssl/key.*
production.env