#vendoraccount.page{
    position: relative;
    header.pageheader{        
        min-height: 300px;
        height: auto;
        #profile_header{
            
            z-index: 100;
            padding-top:40px;
            padding-bottom:40px;

            #vendor-bg-upload{display: none;}
            
            #profile_header_edit_btn{
                width: 187px;
                height: 32px;
                color: #fff;
                background-color: #0c0c0c;
                position: absolute;
                top:0;
                right:0;
                font-size: 0.8125em;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 32px;
                font-family: $fontRaleway;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                z-index: 100000000;
                i{
                    padding-right:4px;
                }
            }

            #backgroundfile{
                width: 187px;
                height: 32px;
                position: absolute;
                top:0;
                right:0;
                opacity: 0;
                z-index: 10000000000;
            }
            
            #profile_logo{
                width:50%;
                margin:auto;
                height: auto;
                margin-bottom:15px;
                position: relative;

                form{display: none}
                
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                    border:2px solid white;
                }     
                
                #profile_logo_edit_btn{
                    width: 138px;
                    height: 32px;
                    color: #fff;
                    background-color: #0c0c0c;
                    position: absolute;
                    bottom:0;
                    left:0;
                    font-size: 0.8125em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 32px;
                    font-family: $fontRaleway;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    
                    i{
                        padding-right:4px;
                    }
                }                   
            }
            
            #profile_header_info{
                h1{
                    text-align: center;
                    margin:0;
                    margin:auto;
                    font-size: 1.8em;
                    line-height: 1.2em;
                    margin-bottom:25px;
                    width:90%;
                    
                }
                .categories{
                    font-family: $fontRaleway;
                    letter-spacing: 2px;
                    font-size: 0.875em;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                .rating{
                    text-align: center;
                    color: #fff;
                    margin-bottom: 15px;
                }
                
                .profile_contact_info{
                    text-align: center;
                    
                    a.social{                                
                        width:45px;
                        height:45px;
                        background-color: $siteOrange;
                        border-radius: 45px;
                        cursor: pointer;
                        display: inline-block;
                        color:#fff;
                        line-height: 50px;
                        text-align: center;
                        font-size: 1.6em;
                        margin-right:10px;
                    }
                    
                    a.social:last-of-type{
                        margin-right: 0;
                    }
                    
                    a.vendorlink{
                        border:1px solid white;
                        height: 40px;
                        width:75%;
                        margin:auto;
                        margin-top: 25px;
                        display: block;
                        text-transform: uppercase;
                        color: #fff;
                        border-radius: 30px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 1em;
                        letter-spacing: 1px;
                        text-decoration: none;
                        font-family: $fontRaleway;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }

    #profile_details{
        #quickinfo{
            margin-bottom:25px;
            a{
                display: block;
                color: $siteBlack2;
                text-decoration: none;
                font-size: 1.2em;
                margin-bottom: 10px;
                
                i{
                    position: relative;
                    top:5px;                                    
                    color: $siteGray1;
                    padding-left: 5px;
                    padding-right: 10px;
                    width: 30px;
                    display: inline-block;
                    text-align: center;                                   
                }
            }
            
            hr{
                margin-bottom: 20px;
                margin-top: 20px;
            }
            
            a.vendormobile{
                i{
                    font-size: 1.4em;    
                }                                  
            }
            
            .detail{
                position: relative;
                padding-left:40px;
                font-size: 1.2em;
                margin-bottom: 30px;
                i{
                    position: absolute;
                    left:0;
                    top:0;                                    
                    color: $siteGray1;
                    padding-left: 5px;
                    padding-right: 10px;
                    width: 30px;
                    display: inline-block;
                    text-align: center; 
                }
                
                strong{
                    color: $siteGray1;
                    text-transform: uppercase;
                    font-size: 0.72em;
                    display: block;
                    margin-bottom: 5px;
                }
            }
            
            a.publiclink{
                width: 100%;
                font-size: 0.85em;
                color: #fff;
                font-weight: 400;
            }
        }
    }
    #accountapp{
        display: block;
        width: 100%;
    }
    #profile_tabs{
        > ul{
            display: none;
            justify-content: flex-start;
            margin:0;
            padding:0;
            list-style: none;
            border-bottom: 4px solid $siteOrange4;
            
            li{                                    
                a{
                    display: block;
                    width: 100%;
                    height: 42px;
                    width: 100%;
                    background-color: $siteOrange4;
                    line-height: 42px;
                    text-transform: uppercase;
                    font-family: $fontRaleway;
                    font-size: 0.875em;
                    text-align: center;
                    font-weight: bold;
                    color:#fff;
                    cursor: pointer;
                    letter-spacing: 1px;
                    padding-left:10px;
                    padding-right:10px;
                    box-sizing: border-box;
                    text-decoration: none;
                    
                    
                }
            }
            
            li:nth-child(2n){
                a{
                    background-color: $siteOrange5;
                }
            }
            
            li:nth-child(3n){
                a{
                    background-color: $siteDarkOrange2;
                }
            }
        }
        
        > a{
            display: block;
            width: 100%;
            height: 42px;
            width: 100%;
            background-color: $siteOrange4;
            line-height: 42px;
            text-transform: uppercase;
            font-family: $fontFutura;
            font-size: 1em;
            text-align: center;
            font-weight: 500;
            color:#fff;
            cursor: pointer;
        }

        #mobilewarning{
            text-align: center;
            margin-bottom: 35px;
        }
        
        > div{
            display: none;

            .formsection{
                margin-bottom: 25px !important;
                margin-top: 20px;
            }
        }
        
        > div:first-of-type{
            display: block;
        }

        #tab_purchases{
            #currentpackage{
                background-color: $siteOrange;
                min-height: 150px;
                width: 100%;
                box-sizing: border-box;
                padding:15px;
                margin-bottom: 15px;
                color: #fff;
                
                h1{
                    margin:0;
                    font-size: 2em;
                    font-family: $fontFutura;
                    text-transform: uppercase;                                            
                    font-weight: 400;
                    line-height: 1em;
                    margin-bottom: 15px;
                }
                
                ul{
                    margin:0;
                    padding:0;
                    margin-left:25px;
                    margin-bottom:35px;

                    li{
                        margin-bottom: 0;
                    }
                }
                
                .monthlyprice{
                    font-size: 2em;
                }
            }

            #currentpackage.upcoming{
                background-color: $siteGray1;
            }

            #vendorpackage{
                > h2{
                    text-align: center;
                    margin:0;
                    font-size: 1.75em;
                    font-weight: normal;   
                    line-height: 1em; 
                    margin-bottom: 40px;        
                }

                > .subduration{
                    text-align: center;
                    margin-bottom: 40px;
                    font-size: 1.25em;

                    .duration{
                        margin-bottom: 7px;
                        input{
                            margin:0;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left:10px;
                        }
                    }
                }    
            }

            
        }
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #vendoraccount.page{
        #vendorpackage{
            #packagedetails{            
                table{
                    font-size: 1.2em;
                }
                table, thead, tbody, th, td, tr{
                    display: block;
                }

                thead tr { 
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }

                tr { border: 1px solid $siteOrange1; }

                td { 
                    /* Behave  like a "row" */
                    border: none;
                    position: relative;
                    padding-left: 50%; 

                    input{
                        margin:0;
                    }
                }
                
                td:before { 
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 10px;
                    left: 15px;
                    width: 45%; 
                    padding-right: 10px; 
                    white-space: nowrap;
                    font-weight: bold;
                    color: $siteOrange1;
                    font-family: $fontRaleway;
                    text-transform: uppercase;
                }

                tr.heading{
                    background-color: $siteOrange1;
                    color: #fff;
                }

                tr.subs{
                    td:nth-of-type(1):before { content: ""; }
                    td:nth-of-type(2):before { content: "Free"; }
                    td:nth-of-type(3):before { content: "Bronze"; }
                    td:nth-of-type(4):before { content: "Silver"; }
                    td:nth-of-type(5):before { content: "Gold"; }
                    td:nth-of-type(6):before { content: ""; }
                }

                tr.addons{
                    td:nth-of-type(1):before { content: "Addon"; }
                    td:nth-of-type(2):before { content: "Pricing"; }
                    td:nth-of-type(3):before { content: "Description"; }
                }

                
            }
        }
    }
}

@media only screen and (min-width: 48em){
    #vendoraccount.page{
        header.pageheader{
            height: 240px;
            min-height: 240px;   
            margin-bottom: 50px;                 
            
            #profile_header{
                display: flex;
                justify-content: flex-start;
                position: relative;
                width: 90%;
                top:40px;
                z-index: 10;
                
                #profile_header_edit_btn{
                    bottom: 48px;
                    top: auto;
                }

                #backgroundfile{
                    bottom: 48px;
                    top: auto;
                }
                
                #profile_logo{
                    width: 236px;
                    height: 236px;
                    margin:0;
                    
                    #profile_logo_edit_btn{
                        bottom: -2px;
                        left: 1px;
                    }
                }
                
                #profile_header_info{
                    margin:0;
                    width: 68%;
                    margin-left:30px;
                    position: relative;
                    
                    h1{
                        margin:0;
                        text-align: left;
                        margin-top: 35px;
                        font-size: 2em;
                        margin-bottom: 15px;
                    }
                    
                    .categories{
                        font-size: 1em;
                        text-align: left;
                    }
                    
                    .rating{
                        text-align: left;
                        font-size: 1.5em;
                    }
                    
                    .profile_contact_info{
                        position: absolute;
                        right:25px;
                        bottom:55px;
                        width: 200px;
                        text-align: left;
                        
                        a.vendorlink{
                            margin-top:10px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        #profile_details{
            display: flex;
            justify-content: space-between;
                                        
            #quickinfo{                                
                max-width: 295px;  
                width:32%;  
            }

            #accountapp{
                width: 64%;
            }
        }

        #profile_tabs{
            width: 100%;

            #mobilewarning{
                display: none;
            }
            
            > a{
                display: none;
            }
            
            > ul{
                display: block;
                border-bottom: 10px solid $siteOrange4;
                width: 100%;
                
                
                li{
                    display: inline-block;
                    margin-bottom:0;
                    
                    a{
                        padding-left:10px;
                        padding-right:10px;
                        width: auto;
                        
                        height: 30px;
                        line-height: 30px;
                        margin-right:5px;
                    }
                }
            }

            > div{
                display: block;
            }

            #vendorMessageViewer{
                position: relative;
                display: flex;
                justify-content: space-between;
                min-height: 500px;
                #messageList{
                    width: 35%;
                    

                    ul{
                        margin:0;
                        padding:0;
                        list-style: none;

                        li{
                            position: relative;
                            cursor: pointer;
                            
                            font-size: 1.4em;
                            display: block;
                            padding:10px;
                            border-bottom:1px solid $siteOrange5;
                            margin-bottom:10px;
                            padding-bottom:10px;

                            span{
                                display: block;

                                .fa{
                                    padding-right:10px;
                                }
                            }

                            span.from{
                                text-transform: uppercase;
                            }

                            span.date{
                                color: $siteGray1;
                                font-size: 0.825em;
                            }

                            span.unread{
                                position: absolute;
                                top:10px;
                                right:10px;
                                width: 15px;
                                height: 15px;
                                background-color: $siteOrange;
                                border-radius: 15px;
                                display: block;
                            }
                        }

                        li:hover{
                            span.from{
                                color: $siteOrange5;
                            }
                        }

                        li.selected{
                            background-color: $siteOrange5;
                            color: #fff;

                            span.date{
                                color: $siteGray4;
                            }
                        }

                        li.selected:hover{
                            span.from{
                                color: #fff;
                            }

                            
                        }

                        
                    }
                }

                #messagePane{
                    width: 63%;

                    #messageDetail{
                        background-color: #fff;
                        font-size: 1.2em;
                        .row{
                            padding:10px;
                            background-color: $siteGray4;
                            margin-bottom:10px;
                        }

                        .message{
                            margin-top: 25px;
                        }
                    }
                }

            }

            #tab_purchases{
                > h2{
                    text-align: center;
                    margin:0;
                    font-size: 1.75em;
                    font-weight: normal;   
                    line-height: 1em; 
                    margin-bottom: 40px;        
                }

                #currentpackage{
                    background-color: $siteOrange;
                    min-height: 150px;
                    width: 100%;
                    box-sizing: border-box;
                    padding:15px;
                    margin-bottom: 15px;
                    color: #fff;
                    
                    h1{
                        margin:0;
                        font-size: 2em;
                        font-family: $fontFutura;
                        text-transform: uppercase;                                            
                        font-weight: 400;
                        margin-bottom: 15px;
                    }
                    
                    ul{
                        margin:0;
                        padding:0;
                        margin-left:25px;
                        margin-bottom:35px;
                    }
                    
                    .monthlyprice{
                        font-size: 2em;
                    }
                }

                #currentpackage.upcoming{
                    background-color: $siteGray1;
                }

                #vendorpackage{
                    > .subduration{
                        text-align: center;
                        margin-bottom: 40px;
                        font-size: 1.4em;
                        text-align: center;
                        display: flex;
                        justify-content: space-between;

                        .duration{
                            width: 30%;
                            margin-bottom: 7px;
                            display: inline-block;
                            line-height: 1.1em;
                            input{
                                margin:0;
                                display: block;                        
                                margin:auto;
                                margin-top:6px;
                            }
                        }
                    }

                    #packagedetails{
                        table{
                            width: 100%;
                            font-size: 1em;
                            thead{
                                tr{
                                    th{
                                        font-family: $fontRaleway;
                                        font-size: 1.3em;
                                        text-transform: uppercase;
                                        font-weight: normal;
                                    }
                                }                        
                            }

                            tbody{
                                tr.price{
                                    td{
                                        font-size:2em;
                                    }
                                }
                                tr.heading{
                                    background-color: $siteOrange1;
                                    color: #fff;
                                    td{
                                        padding-left:10px;
                                    }
                                }

                                tr.subs{
                                    input{
                                        margin:0;
                                    }
                                }

                                tr.addons{
                                    td{
                                        padding-left:10px;

                                        input{
                                            margin:0;
                                            margin-left:6px;
                                        }
                                    }
                                }
                            }
                        }
                    }





                    #packages, #addons{
                        display: flex;
                        justify-content: space-between;
                        section.package{
                            width: 26%;
                        }
                    }

                    #addons{
                        section.package{
                            width: 32%;
                        }
                    }
                }

                

                #packages, #addons{
                    section.package{                                    
                        background-color: #fff;                                
                        header{
                            position: relative;
                            height:75px;                                                
                            background-color: $siteOrange4;
                            color:#fff;
                            box-sizing: border-box;
                            padding:9px;
                            
                            h1{
                                margin:0;
                                font-size: 1.6em;
                                font-family: $fontFutura;
                                text-transform: uppercase;
                                position: absolute;
                                font-weight: 400;
                                bottom:11px;
                                left:10px;
                                line-height: 1em;
                            }
                            
                            .price{
                                position: absolute;
                                top:9px;
                                right:10px;
                                text-align: right;   
                                line-height: 1em;                                                 
                                font-size: 1em;
                                color: #fff;
                                font-family: $fontRaleway;
                            }
                        }
                        
                        .details{
                            padding:10px;
                            
                            ul{
                                display: block;
                                margin:0;
                                list-style: none;
                                padding:0;
                                font-size: 1.1em;
                                
                                li{
                                    position: relative;
                                    margin-bottom: 5px;
                                    
                                    i{
                                        margin-right:10px;
                                    }

                                    input[type=radio]{
                                        margin-right:6px;
                                        margin-left:3px;
                                        margin-bottom:0;
                                    }
                                }
                                
                            }
                        }
                        
                        .selection{
                            padding:13px;
                            font-size: 0.65em;
                            font-family: $fontRaleway;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: $siteGray3;
                            text-align: center;
                            padding-bottom:18px;
                        }
                    }
                }

                #packages, #addons{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 55px;
                    > span{
                        text-align: center;
                        display: block;
                        width: 100%;
                        
                    }
                    section.package{
                        width: 30%;
                    }
                }

                #vendorpayment{
                    #carddetails{
                        margin:auto;
                        width: 60%;

                        table.totals{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 68.75em){
    #wrapper{
        #vendoraccount.page{
            header.pageheader{
                height: 300px;
                margin-bottom: 80px;
                position: relative;
                z-index: 10;
                
                #profile_header{
                    max-width: 1245px;
                    margin:auto;
                    top: 85px;
                    
                    #profile_header_edit_btn{
                        bottom: 101px;
                    }

                    #backgroundfile{
                        bottom: 101px;
                    }
                    
                    #profile_logo{
                        width: 236px;
                        
                    }
                    
                    #profile_header_info{
                        position: relative;
                        top:0;
                        margin-left: 35px;
                        width: 78%;
                        h1{
                            font-size: 2.5em;
                            margin-bottom: 4px;
                        }
                        
                        .rating{
                            
                        }
                        .profile_contact_info{
                            width: 217px;
                            bottom:95px;
                            a.vendorlink{
                                height: 58px;
                                line-height: 58px;
                                margin-top:20px;
                            }
                        }
                    }
                }
            }

            #pagebody{
                position: relative;
                z-index: 1000;
            }

            .innerwrapper{
                max-width: 1245px;
                
            }

            #profile_details{
                max-width: 1245px;
                margin:auto;
                justify-content: space-between;
                margin-top: 100px;
                
                #quickinfo{
                    width: 236px;
                    margin-right: 20px;
                    position: relative;
                    top: 50px;
                    
                }

                #accountapp{
                    width: 77%;
                    margin-top:-90px;
                }
                
                #profile_tabs{
                    position: relative;
                    
                    width:100%;

                    #tab_messages{
                        article.message{
                            position: relative;
                            header{                                            
                                time{
                                    position: absolute;
                                    top:15px;
                                    right:15px;
                                }
                            }
                        }

                    }
                    #tab_purchases{
                        .pagination{
                            text-align: center;
                        }
                        #currentpackage{
                            background-color: $siteOrange;
                            min-height: 80px;
                            width: 100%;
                            box-sizing: border-box;
                            padding:15px;
                            margin-bottom: 15px;
                            color: #fff;
                            position: relative;
                            
                            
                            
                            .monthlyprice{
                                position: absolute;
                                top:15px;
                                right:15px;
                            }
                        } 

                        #currentpackage.upcoming{
                            background-color: $siteGray1;
                        }
                        #vendorpackage{
                            #packages, #addons{                                           
                                section.package{
                                    width: 24%;
                                }
                            }   

                            #addons{
                                section.package{
                                    width: 32%;
                                }
                            } 
                        }                                    
                    }
                }
            }
        }
    }
    
}

