#gallerysearch{
    margin-bottom: 35px;

    .keywords{
        .selectize-input{
            background-color: $siteGray2;
            border:2px solid #fff;
            border-radius: 10px;
            outline: none;
            box-shadow: none;
        }
        .selectize-control input {
            width: 100%;
            font-size: 1.45em;
            padding:12px;
            transition: all 0.3s ease-in-out;
        }
    
        ::-webkit-input-placeholder{
            font-style: italic;
        }
    
        input:focus{
            background-color: #fff;
            border:2px solid $siteDarkOrange1;
        }
    }

    .categories{
        margin-bottom: 12px;

        .selectize-input{
            border-radius: 10px;
        }
    }
    
}
#gallerygrid{
    height: 90%;

    .grid {
        position: relative;
        height: 90%;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        .item {
            display: block;           
            float:left;
            width: 100%;
            height: auto;
            z-index: 1;            
            margin-bottom: 35px;
            cursor: pointer;
            

            .item-content {
                position: relative;
                width: 100%;
                height: 100%;

                .image{
                    border-radius: 15px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img{
                        width: 100%;                        
                        display: block;
                    }
                }
                

                .tags{
                    span{
                        display: inline-block;
                        padding:4px;
                        padding-left: 6px;
                        padding-right: 6px;
                        color: #fff;
                        cursor: pointer;
                        background-color: $siteOrange1;
                        text-transform: lowercase;
                        border-radius: 7px;
                        margin-right:5px;
                        font-size: 0.85em;

                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item.muuri-item-dragging {
            z-index: 3;
        }
        .item.muuri-item-releasing {
            z-index: 2;
        }
        .item.muuri-item-hidden {
            z-index: 0;
        }
    }

    .grid:after{
        content: '';
        display: block;
        clear:both;
    }
}

#imagedisplay{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    .imagecover{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(220,220,220,0.85);
        z-index: 1050;
    }

    .imagecontainer{
        display: none;
        position: fixed;
        top:0;
        left:0;
        right:0;
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        height: 100%;
        min-height: 500px;
        margin:auto;
        margin-top: 0px;
        z-index: 1100;
        
        .innerwrapper{
            box-sizing: border-box;
            padding: 15px;
            height: 100%;
            width: 100%;

            header{
                margin-bottom: 20px;
                a{
                    color: $siteGray1;
                    font-size: 2em;
                }
            }

            .imagecontent{
                overflow: auto;
                height: 94%;
                padding-bottom: 30px;
            }

            .image{
                text-align: center;
                margin-bottom: 35px;

                img{
                    width: 100%;
                    height: auto;
                }

                
            }

            .tags{
                span{
                    display: inline-block;
                    padding:4px;
                    padding-left: 6px;
                    padding-right: 6px;
                    color: #fff;
                    cursor: pointer;
                    background-color: $siteOrange1;
                    text-transform: lowercase;
                    border-radius: 7px;
                    margin-right:5px;                    

                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 48em){
    #gallerysearch{
        display: flex;
        justify-content: space-between;

        > div.categories{
            width: 30%;
        }

        > div.keywords{
            width: 68%;
        }
    }
    #gallerygrid{
        .grid {
            position: relative;

            .item {
                display: block;           
                float:left;
                width: 30%;

                .image{
                    
                    img{
                        max-width: 100%;
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 64em){
    #gallerygrid{
        .grid{
            .item{
                width: 24%;
            }
        }
    }

    #imagedisplay{
        .imagecontainer{
            width: 55%;
            height: 95%;
            margin-top: 25px;
            border-radius: 15px;

            .innerwrapper{
                .image{
                    margin-bottom: 15px;
                    
                }
            }
        }
    }
}