#homepage{
    #heroimage{
        position: relative;
        height: 500px;
        margin-bottom: 30px;
        background-image: url('/img/herobg1.jpg');
        background-position: top center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: $siteOrange2;
            opacity: 0.75;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #calltoaction{
            position: relative;
            z-index: 999;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;

            h2{
                font-size: 1.8em;
                color: #fff;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 5px;
                text-align: center;
                margin:auto;
                margin-bottom: 20px;                
                width: 90%;
                
            }
        }
    }

    #welcome{
        min-height: 300px;
        margin-bottom: 55px;
        .innerwrapper{
            padding-left:25px;
            padding-right:25px;
            color: $siteBlack;

            h1{
                font-weight: normal;
                text-transform: uppercase;
                text-align: center;
                line-height: 1.1em;
                font-size: 1.6em;
                margin:0;
                margin-bottom: 15px;
                
            }

            .content{
                p{
                    line-height: 1.8em;
                }
            }
        }
    }

    section.highlight{
        min-height: 300px;
        color: $siteBlack;
        background-position: top right;
        background-repeat: no-repeat;

        .innerwrapper{
            padding-left:25px;
            padding-right:25px;
            padding-top: 25px;

            h1{
                font-weight: normal;
                text-transform: uppercase;
                text-align: left;
                line-height: 1.1em;                
                font-size: 1.6em;
                margin:0;
                margin-bottom: 15px;
            }

            h2{
                font-weight: normal;
                font-size: 1.21em;
                
            }

            .content{
                p{
                    line-height: 1.8em;
                }
            }
        }
    }

    section.highlight:nth-child(odd){
        background-color: $siteOrange2;
        color: #fff;
    }

    section.highlight#highlight1{
        background-image: url('/img/highlight_bg1.jpg');        
    }
    section.highlight#highlight2{
        background-image: url('/img/highlight_bg2.jpg');
        background-position: top left;        
    }
    section.highlight#highlight3{
        background-image: url('/img/highlight_bg3.jpg');        
    }
}

@media only screen and (min-width: 48em){
    #homepage{
        .innerwrapper{
            height: auto;
        }
        #heroimage{
            height: 560px;
            margin-bottom: 50px;

            #calltoaction{
                h2{
                    font-size: 2.4em;
                }
            }
        }

        #welcome{            
            .innerwrapper{
                h1{
                    font-size: 2.5em;
                    margin-bottom: 25px;
                }

                .content{
                    font-size: 1.125em;
                    line-height: 1.8em;
                    width:80%;
                    margin:auto;
                    text-align: center;
                }
            }
            
        }

        section.highlight{
            height: 372px;            

            .innerwrapper{
                padding-top:38px;

                .content{
                    h1{
                        text-align: right;
                    }

                    float:right;
                    text-align: right;
                }

                .content{
                    width: 500px;

                    p{
                        font-size: 1.11em;
                        line-height: 1.6em;
                    }

                    h1{
                        font-size: 2.25em;
                        letter-spacing: 2px;
                        margin-bottom:6px;
                    }

                    h2{
                        font-size: 1.25em;
                        margin-bottom: 40px;
                    }
                }
            }
        }

        section.highlight:nth-child(odd){
            .innerwrapper{
                .content{
                    h1{
                        text-align: left;
                    }

                    float:left;
                    text-align: left;
                }
            }
        }

        section.highlight:last-of-type{
            margin-bottom: 50px;
        }
    }
}