#wrapper{
    #vendorlogin.page{
        position: relative;
        background-color: $siteOrange2;
        background-image: url('/img/login_bg.jpg');
        background-size: cover;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 35px;

        span.overlay{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: $siteOrangeTransparent;
        }

        #pagebody{
            height: 100%;            

            .innerwrapper{
                position: relative;

                #vendorloginform{
                    position: relative;
                    margin-top:0;
                    max-width: 400px;
                    margin:auto;
                    padding:30px;
                    background-color: #fff;
                    
                    .error{
                        padding:10px;
                        background-color: red;
                        color: #fff;
                        margin-bottom: 30px;
                        text-align: center;
                        font-size: 0.85em;
                    }
                    
                    > h1{
                        font-family: $fontFutura;
                        text-transform: uppercase;
                        font-weight: 300;
                        text-align: center;
                        font-size: 1.35em;
                        margin:0;                    
                        letter-spacing: 1px;
                        margin-bottom:35px;
                    }
                    
                    .row{
                        label{
                            font-family: $fontRaleway;
                            font-weight: 500;
                            text-transform: uppercase;                        
                            letter-spacing: 0.5px;
                        }
                        
                        a.button{
                            width: 100%;
                        }

                        .columns{
                            a:last-of-type{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }    
    }
}

@media only screen and (min-width: 48em){
    #wrapper{
        #page{
            #vendorlogin.page{
                #pagebody{
                    min-height: 720px;

                    .innerwrapper{
                        top: 80px;
                    }
                }
            }
        }        
    }
}