#mediauploader{
    position: relative;
    padding-top: 15px;

    #uploader{
        display: block;
        margin-bottom: 55px;

        div.mediaitem{           
            display: block;
            align-items: center;            
            min-height: 300px;
            width: 100%;
            text-align: center;
            margin-bottom:50px;
            position: relative;

            .selectMedia{
                background-color: $siteOrange1;
                color: #fff;
                font-size: 1.45em;
                height: 45px;
                line-height: 45px;

                input{
                    padding-left:10px;
                }
            }


            .reviewinprogress{
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.9);
                z-index: 100;
                display: flex;
                justify-content: center;
                align-items: center;

                span{
                    font-size: 1.8em;
                }
            }

            .placeholder{
                border:3px dashed $siteGray2; 
                height: 100%;   
                width: 100%;             
                font-size: 1.8em;
                color: $siteGray3;
                height: 300px;
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                i.fa{
                    margin-right: 20px;
                }

                .uploadarea{
                    color: $siteGray3;                    
                }

                input{
                    font-size: 0.6em;
                    width:90%;
                }
            }

            .mediadetails{
                text-align: left;
                .imagepreview{
                    position: relative;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        max-height: 300px;
                    }

                    .deletemedia{
                        display: block;                        
                        position: absolute;
                        padding: 5px;
                        top:0;
                        left:0;
                        background-color: $siteOrange1;
                        color: #fff;

                        a{
                            cursor: pointer;
                            display: block;
                            padding: 10px;
                            font-size: 1.6em;
                            color: #fff;
                        }
                    }

                    .mediacontrols{
                        display: block;
                        position: absolute;
                        bottom:0;
                        left:0;
                        width: 100%;
                        text-align: center;;
                        padding-bottom:10px;
                        a{                                
                            display: inline-block;
                            margin-right: 12px;
                        }

                        a:last-of-type{
                            margin-right: 0;
                        }
                    }
                }

                .imagedetails{
                    .form{
                        text-align: left;

                        .row{
                            margin-bottom:12px;
                            .columns{
                                label{
                                    font-family: $fontRaleway;
                                }
                                input[type=checkbox]{
                                    display: inline-block;
                                    width: auto;
                                    margin-right: 15px;
                                    margin-bottom:0;
                                }
                            }
                        }
                    }
                }
            }
        }
        #uploadarea{
            height: 150px;
            border:3px dashed $siteGray2;                                    
            width: 100%;    
            margin-bottom:35px; 
            margin-top:30px;  
            position: relative;
            
            .dz-default{
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $siteGray3;
                font-family: $fontRaleway;
                letter-spacing: 1px;
                font-size: 0.9em;
                top:0;
                left:0;
            }
            
            .dz-preview{
                padding:15px;
            }
            
            .dz-complete{
                opacity: 0;
                transition: 0.3 all ease;
            }
        }

        #pendingmedia, #publishedmedia, #uploadedmedia{
            margin-bottom: 50px;
            > hgroup{
                margin-bottom: 20px;
                padding-bottom:10px;
                border-bottom:1px solid $siteGray3;
                h2{
                    font-family: $fontRaleway;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1em;
                    letter-spacing: 3px;
                    margin:0;
                    margin-bottom: 6px;
                    
                    span{
                        color: $siteOrange;
                    }
                }
                
                .desc{
                    font-size: 0.875em;
                    color: $siteGray3;
                    font-family: $fontRaleway;
                }
            }
            
            .images{
                min-height: 150px;
                display: flex;
                margin-bottom:25px;
                justify-content: flex-start;
                flex-wrap: wrap;
                a{
                    cursor: pointer;
                    width:120px;
                    height: 120px;
                    display: block;
                    padding:8px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                    margin-bottom:20px;
                    margin-right:20px;
                    
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    #editor{
        display: flex;
        justify-content: space-between;

        .lcol{
            width: 70%;

            .mediaimage{
                margin-bottom:25px;

                img{
                    display: block;
                    max-width: 100%;
                    width:auto;
                    height: auto;
                    margin: auto;
                }
            }

            .categoryoptions{
                margin-top: 35px;
                .majorcategory{
                    margin-bottom:25px;
                    h1{
                        font-family: $fontRaleway;
                        text-transform: uppercase;
                        font-size: 1.3em;
                        letter-spacing: 1px;
                        font-weight: 600;
                        color: $siteOrange2;
                        margin:0;
                        margin-bottom:15px;
                    }
                    
                    .subcategory{
                        border-left:2px solid $siteDarkOrange1;
                        padding-left:10px;
                        padding-bottom:10px;
                        
                        h2{                            
                            font-family: $fontRaleway;
                            text-transform: uppercase;
                            font-size: 1em;
                            letter-spacing: 1px;
                            font-weight: 600;
                            color: $siteDarkOrange1;
                        }  
                    }
                    
                    .option{
                        display: inline-block;
                        margin-right:18px;
                        margin-bottom:3px;
                        input{
                            display: inline-block;
                            margin-right:6px;
                            margin-bottom: 0;
                            border:1px solid $siteDarkOrange1;
                        }

                        label{
                            display: inline-block;

                            font-weight: normal;
                        }
                    }
                }
            }

            
        }

        .rcol{
            width: 30%;

            .mediareviewhistory{
                h2{
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: $fontRaleway;
                    font-size:1.35em;
                    line-height: 1.2em;
                    letter-spacing: 3px;
                    margin-bottom: 12px;
                    color: #000;
                    
                    span{
                        color: $siteOrange;
                    }
                }
                
                .list{
                    margin-bottom:25px;
                    > span{
                        display: block;
                        height: 90px;
                        color: $siteGray1;
                        text-align: center;
                        line-height: 90px;
                    }
                    
                    ul{
                        margin:0;
                        padding:0;
                        list-style: none;
                        
                        font-family: $fontRaleway;
                        
                        li{
                            padding-left:10px;
                            border-left:3px solid $siteOrange;
                            
                            font-family: $fontFutura;
                            strong{
                                text-transform: uppercase;
                                font-family: $fontRaleway;
                                font-size: 0.875em;
                            }
                        }
                    }
                }
            }            
        }        
    }    
}

@media only screen and (min-width: 48em){
    #mediauploader{
        #uploader{            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            div.mediaitem{
                width: 32%;
                max-width: 300px;
                margin-bottom: 75px; 

                .mediadetails{
                    .imagepreview{
                        position: relative;

                        .mediacontrols{
                            display: none;
                            position: absolute;
                            bottom:0;
                            left:0;
                            width: 100%;
                            text-align: center;;
                            padding-bottom:10px;
                            a{                                
                                display: inline-block;
                            }
                        }
                    }
                }               
            }

            div.mediaitem:hover{
                .mediadetails{
                    .imagepreview{
                        .mediacontrols{display: block;}
                    }
                }
            }
        }

        #uploader.limit-4, #uploader.limit-5{
            flex-wrap: wrap;            
        }
    }
}