#vendorprofile.page{
    header.pageheader{
        min-height: 300px;
        height: auto;
        #profile_header{
            position: relative;
            z-index: 100;
            padding-top:40px;
            padding-bottom:40px;

            #vendor-bg-upload{display: none;}
            
            #profile_header_edit_btn{
                width: 187px;
                height: 32px;
                color: #fff;
                background-color: #0c0c0c;
                position: absolute;
                top:0;
                right:0;
                font-size: 0.8125em;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 32px;
                font-family: $fontRaleway;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                z-index: 100000000;
                i{
                    padding-right:4px;
                }
            }
            
            #profile_logo{
                width:50%;
                margin:auto;
                height: auto;
                margin-bottom:15px;
                position: relative;

                form{display: none}
                
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                    border:2px solid white;
                }     
                
                #profile_logo_edit_btn{
                    width: 138px;
                    height: 32px;
                    color: #fff;
                    background-color: #0c0c0c;
                    position: absolute;
                    bottom:0;
                    left:0;
                    font-size: 0.8125em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 32px;
                    font-family: $fontRaleway;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    
                    i{
                        padding-right:4px;
                    }
                }                   
            }
            
            #profile_header_info{
                h1{
                    text-align: center;
                    margin:0;
                    margin:auto;
                    font-size: 1.8em;
                    line-height: 1.2em;
                    margin-bottom:25px;
                    width:90%;
                    
                }
                .categories{
                    font-family: $fontRaleway;
                    letter-spacing: 2px;
                    font-size: 0.875em;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                .rating{
                    text-align: center;
                    color: #fff;
                    margin-bottom: 15px;
                }
                
                .profile_contact_info{
                    text-align: center;
                    
                    a.social{                                
                        width:45px;
                        height:45px;
                        background-color: $siteOrange;
                        border-radius: 45px;
                        cursor: pointer;
                        display: inline-block;
                        color:#fff;
                        line-height: 50px;
                        text-align: center;
                        font-size: 1.6em;
                        margin-right:10px;
                    }
                    
                    a.social:last-of-type{
                        margin-right: 0;
                    }
                    
                    a.vendorlink{
                        border:1px solid white;
                        height: 40px;
                        width:75%;
                        margin:auto;
                        margin-top: 25px;
                        display: block;
                        text-transform: uppercase;
                        color: #fff;
                        border-radius: 30px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 1em;
                        letter-spacing: 1px;
                        text-decoration: none;
                        font-family: $fontRaleway;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
    #profile_claim_info{
        > h1{
            text-align: center;
            font-weight: normal;
            line-height: 1em;
            font-size: 2.2em;
            margin-bottom: 55px;
        }
    }
    #profile_details{
        #quickinfo{
            margin-bottom:25px;
            a{
                display: block;
                color: $siteBlack2;
                text-decoration: none;
                font-size: 1.2em;
                margin-bottom: 10px;
                
                i{
                    position: relative;
                    top:5px;                                    
                    color: $siteGray1;
                    padding-left: 5px;
                    padding-right: 10px;
                    width: 30px;
                    display: inline-block;
                    text-align: center;                                   
                }
            }
            
            hr{
                margin-bottom: 20px;
                margin-top: 20px;
            }
            
            a.vendormobile{
                i{
                    font-size: 1.4em;    
                }                                  
            }
            
            .detail{
                position: relative;
                padding-left:35px;
                font-size: 1.2em;
                margin-bottom: 30px;
                i{
                    position: absolute;
                    left:0;
                    top:0;                                    
                    color: $siteGray1;
                    padding-left: 5px;
                    padding-right: 10px;
                    width: 30px;
                    display: inline-block;
                    text-align: center; 
                }
                
                strong{
                    color: $siteGray1;
                    text-transform: uppercase;
                    font-size: 0.72em;
                    display: block;
                    margin-bottom: 5px;
                }
            }
            
            a.publiclink{
                width: 100%;
                font-size: 0.65em;
                font-weight: 400;
            }
        }
    }

    #profile_tabs{
        > ul{
            display: none;
            
            justify-content: flex-start;
            margin:0;
            padding:0;
            list-style: none;
            border-bottom: 4px solid $siteOrange4;
            
            li{                                    
                a{
                    display: block;
                    width: 100%;
                    height: 42px;
                    width: 100%;
                    background-color: $siteOrange4;
                    line-height: 42px;
                    text-transform: uppercase;
                    font-family: $fontRaleway;
                    font-size: 0.875em;
                    text-align: center;
                    font-weight: bold;
                    color:#fff;
                    cursor: pointer;
                    letter-spacing: 1px;
                    padding-left:10px;
                    padding-right:10px;
                    box-sizing: border-box;
                    text-decoration: none;
                    
                    
                }
            }
            
            li:nth-child(2n){
                a{
                    background-color: $siteOrange5;
                }
            }
            
            li:nth-child(3n){
                a{
                    background-color: $siteDarkOrange2;
                }
            }
        }

        > div{
            font-size: 1.2em;
            line-height: 1.6em;
        }
        
        > a{
            display: block;
            width: 100%;
            height: 42px;
            width: 100%;
            background-color: $siteOrange4;
            line-height: 42px;
            text-transform: uppercase;
            font-family: $fontFutura;
            font-size: 1em;
            text-align: center;
            font-weight: 500;
            color:#fff;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px;
        }

        #tab_about{            
            h2{
                font-size: 1.375em;
                color: $siteOrange;
                font-family: $fontRaleway;
                font-weight: 400;
                text-transform: none;
                padding-bottom: 14px;
                border-bottom: 1px solid $siteGray3;
            }

            ul.portfolio_preview{
                margin:0;
                padding:0;
                list-style: none;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                li{
                    width: 100%;
                    margin-bottom:15px;                                        
                    a{
                        display: block;

                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }

        #tab_portfolio{
            ul{
                margin:0;
                padding: 0;
                list-style: none;

                li{
                    a{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 48em){
    #wrapper #page{
        #vendorprofile.page{
            header.pageheader{
                position: relative;
                z-index: 1;
                height: 240px;
                min-height: 240px;   
                margin-bottom: 50px;                 
                
                #profile_header{
                    display: flex;
                    justify-content: flex-start;
                    position: relative;
                    width: 90%;
                    top:40px;
                    z-index: 10;
                    
                    #profile_header_edit_btn{
                        bottom: 78px;
                        top: auto;
                    }
                    
                    #profile_logo{
                        width: 236px;
                        height: 236px;
                        margin:0;
                        
                        #profile_logo_edit_btn{
                            bottom: -2px;
                            left: 1px;
                        }
                    }
                    
                    #profile_header_info{
                        margin:0;
                        width: 68%;
                        margin-left:30px;
                        position: relative;
                        
                        h1{
                            margin:0;
                            text-align: left;
                            margin-top: 35px;
                            font-size: 2em;
                            margin-bottom: 15px;
                        }
                        
                        .categories{
                            font-size: 1em;
                            text-align: left;
                        }
                        
                        .rating{
                            text-align: left;
                            font-size: 1.5em;
                        }
                        
                        .profile_contact_info{
                            position: absolute;
                            right:25px;
                            bottom:55px;
                            width: 200px;
                            text-align: left;
                            
                            a.vendorlink{
                                margin-top:10px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            #pagebody{
                position: relative;
                z-index: 10;
            }

            #profile_details{

                display: flex;
                justify-content: space-between;
                                            
                #quickinfo{                                
                    max-width: 295px;  
                    width:32%;  
                }
            }

            #profile_tabs{
                width: 64%;
                
                > a{
                    display: none;
                }
                
                > ul{
                    display: block;
                    border-bottom: 10px solid $siteOrange4;
                    width: 100%;
                    margin-bottom: 25px;
                    
                    
                    li{
                        display: inline-block;
                        margin-bottom: 0;
                        
                        a{
                            padding-left:10px;
                            padding-right:10px;
                            width: auto;
                            
                            height: 30px;
                            line-height: 30px;                            
                            margin-right:5px;
                        }
                    }
                }
                #tab_about{
                    ul.portfolio_preview{
                        margin:0;
                        padding:0;
                        list-style: none;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;

                        li{
                            width: 32%;
                            margin-bottom:15px;                                        
                            a{
                                display: block;

                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                #tab_portfolio{
                    padding-top:0;
                    ul{
                        margin:0;
                        padding:0;
                        list-style: none;
                        display: flex;
                        justify-content: flex-start;
                        li{
                            width: 32%;
                            margin-right: 2%;

                            a{
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                #tab_purchases{
                    #vendorpackage{
                        #packages, #addons{
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            
                            section.package{
                                width: 48%;
                            }
                        }  
                        
                        #currentpackage{
                            background-color: $siteOrange;
                            min-height: 80px;
                            width: 100%;
                            box-sizing: border-box;
                            padding:15px;
                            margin-bottom: 45px;
                            color: #fff;
                            position: relative;
                            
                            
                            
                            .monthlyprice{
                                font-size: 1.4em;
                                position: absolute;
                                top:15px;
                                right:15px;
                            }
                        }  
                    }   
                    
                    #vendorpayment{
                        #carddetails{
                            
                            #vendorpaymentform{
                                .cardcontainer{
                                    margin-bottom:25px;
                                    .jp-card-container{
                                        left:0;
                                        transform: scale(1);
                                    }
                                }
                                input[type=text]{
                                    margin-bottom:1.5rem;
                                    font-size: 1.05em;
                                }
                            }
                        }
                    }                                 
                }
            }
        }
    }
}

@media only screen and (min-width: 68.75em){
    #wrapper #page{
        #vendorprofile.page{
            header.pageheader{
                height: 300px;
                margin-bottom: 80px;
                position: relative;
                z-index: 10;
                
                #profile_header{
                    max-width: 1245px;
                    margin:auto;
                    top: 85px;
                    
                    #profile_header_edit_btn{
                        bottom: 101px;
                    }
                    
                    #profile_logo{
                        width: 236px;
                        
                    }
                    
                    #profile_header_info{
                        position: relative;
                        top:0;
                        margin-left: 35px;
                        width: 78%;
                        h1{
                            font-size: 2.5em;
                            margin-bottom: 4px;
                        }
                        
                        .rating{
                            
                        }
                        .profile_contact_info{
                            width: 217px;
                            bottom:95px;
                            a.vendorlink{
                                height: 58px;
                                line-height: 58px;
                                margin-top:20px;
                            }
                        }
                    }
                }
            }

            #pagebody{
                .innerwrapper{
                    max-width: 1245px;
                }
            }

            #profile_details{
                max-width: 1245px;
                margin:auto;
                justify-content: flex-start;
                
                #quickinfo{
                    width: 236px;
                    margin-right: 20px;
                }
            }

            #profile_tabs{
                position: relative;
                top: -60px;
                
                width:80%;
                
                > div{}

                #tab_messages{
                    article.message{
                        position: relative;
                        header{                                            
                            time{
                                position: absolute;
                                top:15px;
                                right:15px;
                            }
                        }
                    }

                }
                #tab_purchases{
                    #vendorpackage{
                        #packages, #addons{                                           
                            section.package{
                                width: 31%;
                            }
                        }    
                    }                                    
                }
            }
        }
    }
}
