#subscriptionmanager{
    .pagination{
        justify-content: center;
        flex-wrap: wrap;

        a{
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    #vendorpaymentconfirmation{
        padding-top: 25px;
        padding-bottom: 25px;
        h1{
            font-size: 1.565em;
        }
    }
    #vendorpackage{
        .subduration{
            .duration{
                padding: 5px;
                background-color: $siteGray2;
                cursor: pointer;
            }

            .duration.selected{
                background-color: $siteOrange1;
                color: #fff;
            }
        }

        #packagedetails{
            .package{
                padding: 20px;
                background-color: $siteGray2;
                margin-bottom: 15px;

                h1{
                    font-size: 1.35em;
                    margin:0;
                }

                .price{
                    color: $siteOrange1;
                    font-size: 2em;
                }

                .packageselect{
                    font-size: 1.4em;

                    a{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        #addondetails{
            margin-top: 20px;
            margin-bottom: 30px;

            > h2{
                display: block;
                margin:0;
                padding:0;
                background-color: $siteOrange;
                color: #fff;
                font-size: 1.1em;
                padding: 16px;
            }
            table{
                width: 100%;
                tr{
                    td{
                        border-bottom: 1px solid $siteGray2;
                        padding-top:10px;
                        padding-bottom:10px;
                    }
                }
            }
        }
    }
    #vendorpayment{
        .formsection{
            max-width: 650px;
            margin:auto;

            table.totals{
                font-size: 1.15em;
                width: 100%;                
                margin:auto;

                tr{
                    td{
                        border-bottom: 1px solid $siteGray2;
                        padding-top:10px;
                        padding-bottom:10px;
                    }
                }

                .totalsline{
                    font-weight: bold;
                }
            }
        }
    }
}

@media only screen and (min-width: 48em){
    #subscriptionmanager{
        .pagination{
            justify-content: center;

            a{
                margin-bottom:0;
                margin-right: 15px;
                width:auto;
            }

            a:last-of-type{
                margin-right: 0;
            }
        }
        #vendorpackage{
            #packagedetails{
                display: flex;
                justify-content: space-between;

                .package{
                    padding:0;
                    background-color: #fff;
                }
            }

            
        }
    }
}