/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
  background: none;
  max-width: 100%;
  width: 100%;
  .box-sizing();
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../images/dd-arrow.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 1px solid #dadada;
  color: #333;
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
  max-width: 100%;
  width: 100% !important;
  .box-sizing();  
}
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
  }
  .dk_focus .dk_toggle {
  }

/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    font-weight: normal;
  }

/* The outer container of the options */
.dk_options {
  background: #fff;
  border: 1px solid #dadada;
  .box-sizing();

  a {
    background-color: #fff;
    padding: 3px 5px;

    &:hover {
      color: @orange;
    }
  }
  li:last-child a {
    border-bottom: none;
  }
}

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  color: #333;
  max-height: 250px;

  a {
    color: @gray !important;
    font-weight: normal;

    &:hover {
      color: @orange !important;
    }
  }

  .dk_option_current {
    a {
      color: @orange !important;  
    }    
  }  
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
  a {
      outline: 0;
  }  
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  font-weight: normal;
}

.dk_open {
  position: relative;
  
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
    font-weight: normal;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  // position: relative;
  // top: -99999em;
  // visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
