@formid: 7;


#content-main .page .gform_wrapper { 
		.package-services {
			.gform_body {
					.nextpage {
						background: transparent;
						color: @orange;
						text-transform: uppercase;
						letter-spacing: 1px;
						font-weight: normal;
						.inline-block();
						height: 64px;
						width: 64px;
						font-size: 12px;
						.fa();
						margin: 0 15px;						
						top: -84px;
						left: 50%;
						margin-left: -32px;
						position: absolute;
						.nofont();
						background: url(../images/button-next.png) center top no-repeat transparent;

						&:hover {
							background: url(../images/button-next.png) center bottom no-repeat transparent;
						}
					}
					.alphabet {
						.gfield_radio, .gfield_checkbox {
							li {
								label {
									background-image: url(../images/icon-alphabet.png) !important;
									position: relative;

									&:after {
										position: absolute;
										// content: "a.";		
										left: 9px;
										top: 0px;
										color: @gray;
									}
								}

								input[type="radio"]:checked + label, 
								input[type="checkbox"]:checked + label {
									&:after {
										color: #fff;
									}
								}

								&:nth-child(1) {
									label:after {
										content: "a.";
									}
								}

								&:nth-child(2) {
									label:after {
										content: "b.";
									}
								}

								&:nth-child(3) {
									label:after {
										content: "c.";
									}
								}

								&:nth-child(4) {
									label:after {
										content: "d.";
									}
								}

								&:nth-child(5) {
									label:after {
										content: "e.";
									}
								}																																
							}
						}
					}
					#gform_page_@{formid}_1 {
						.nextpage {
							display: none;
						}
						p {
							text-transform: none;
						}
						.gform_fields {
							.gfield_html {
								h3 {
									font-size: 20px;
									text-transform: uppercase;
									letter-spacing: 1px;
									color: @gray;
								}
								p {
									font-size: 14px;
									letter-spacing: .5px;
									color: @light;
									.fo();
								}								
								ul {
									list-style: none !important;
									li {
										list-style: none !important;
										border-bottom: 1px solid #e7e7e7;
										padding-bottom: 15px;
										margin-bottom: 15px;

										h3 {
											.fm();
											font-size: 13px;
											text-transform: uppercase;
											letter-spacing: 1px;
											color: @orange;
										}

										.fo();
										font-size: 12px;
										color: @light;
										text-transform: none;

										p {
											.fo();
											font-size: 12px;
											color: @light;					
											text-transform: none;						
										}
									}
								}								
							}
						}

					}
					#gform_page_@{formid}_1 {
						.gform_page_footer {
							bottom: -75px;
						}
					}
					#gform_page_@{formid}_2 {
						position: relative;
						padding-left: 265px;


						#packages-label-list {
							position: absolute;
							left: 30px;
							top: 30px;
							padding-top: 13px;

							h2 {
								height: 40px;
								line-height: 40px;
								margin-bottom: 0;
								font-size: 18px;
								color: @gray;
								.fm();
								text-transform: uppercase;
							}

							li {
								height: 40px;
								line-height: 40px;
								width: 190px;
								text-overflow: ellipsis;
								overflow: hidden;
								padding-right: 30px;
								position: relative;

								color: @light;
								.fo();
								border-bottom: 1px solid #e8e8e8;

								.info {
									cursor: pointer;
									position: absolute;
									right: 0;
									top: 8px;
									display: block;
									width: 23px;
									height: 23px;
									background: url(../images/icon-info.png) 0 0 no-repeat transparent;
								}
							}
						}

						.package_chooser {
							padding: 0;
							> .gfield_label {
								display: none;
							}
							.ginput_container {
								.gfield_radio {
									padding: 0;

									> li {
										.inline-block();
									}

									.gchoice_24_0 {
										label {
											background: #fbb80c;
										}
									}
									.gchoice_24_1 {
										label {
											background: #f99b09;
										}
									}
									.gchoice_24_2 {
										label {
											background: #fb7f1d;
										}
									}
									.gchoice_24_3 {
										label {
											background: #f86807;
										}
									}																											
									> li {
										width: 175px;
										background: #f8f8f8;
										text-align: center;
										height: 85px;
										line-height: 85px;
										margin-right: 10px;

										label {
											// background: @orange;
											color: #fff;
											text-transform: uppercase;
											letter-spacing: 1px;
											font-size: 16px;
											.fm();
											text-align: center;
											padding: 0;
											height: 40px;
											line-height: 40px;
											width: 140px;
											margin: 0 auto;
											position: relative;
											top: 20px;
										}

										input[type="radio"]:checked + label { 
											background: darken(@orange, 10%);
										}

										&.active {
											background: #fff2e8;											
										}
									}
								}
							}

						}

						.package_1 {
							> .gfield_label {
								background: #fbb80c;
							}
						}

						.package_2 {
							> .gfield_label {
								background: #f99b09;
							}
						}

						.package_3 {
							> .gfield_label {
								background: #fb7f1d;
							}
						}

						.package_custom {
							> .gfield_label {
								background: #f86807;
							}
						}																		

						.package_1, .package_2, .package_3, .package_custom {
							width: 175px;
							.inline-block();
							margin-right: 10px;
							margin-bottom: 0;
							vertical-align: top;

							> .gfield_label {
								font-size: 16px;
								letter-spacing: 1px;
								font-size: 12px;
								letter-spacing: .5px;
								.fm();
								text-align: center;
								width: 175px;
								display: block;
								height: 40px;
								line-height: 40px;
								// background: @orange;
								color: #fff;
								text-transform: uppercase;
							}

							.ginput_container {
								.gfield_checkbox {
									> li {										
										width: 100%;
										text-align: center;
										height: 40px;
										line-height: 40px;
										background: #f8f8f8;
										display: block;
										margin: 0;
										border-bottom: 1px solid #e8e8e8;

										// input {
										// 	d
										// }

										label {
											.nofont();
											margin: 0 auto;
											width: 26px !important;
											height: 27px !important;
											padding: 0;
											position: relative;
											top: 5px;
											background: url(../images/icon-checkbox-round.png) 0 0 no-repeat transparent;
										}

										input:checked + label { 
											background: url(../images/icon-checkbox-round.png) left bottom no-repeat transparent;	
										}													

									}
								}
							}


							&.active {
								.ginput_container {
									.gfield_checkbox {
										> li {		
											background: #fff2e8;
										}
									}
								}								
							}

						}

						.disabled {
							.ginput_container {
								.gfield_checkbox {
									> li {										
										label {
											background: url(../images/icon-checkbox-disabled.png) 0 0 no-repeat transparent;
										}

										input:checked + label { 
											background: url(../images/icon-checkbox-disabled.png) left bottom no-repeat transparent;	
										}	
									}
								}
							}							
						}

						.package_1 {

						}
						.package_2 {
							
						}
						.package_3 {
							
						}
					
					}

					#gform_page_@{formid}_3 {
						position: relative;						

						h3 {
							font-size: 20px;
							.fm();
							letter-spacing: 1px;
							text-transform: uppercase;
						}

						.gfield_html {
							padding-top: 0;

							&.all-docs {
								p {
									text-align: center;
									.fo();
									font-size: 12px;
									font-weight: normal;
									color: @light;
									text-transform: none;
								}
							}
						}

						#event-coordination,
						#wedding-documents {
							width: 460px;
							margin-bottom: 30px;
							background: url(../images/services-header.png) 182px 105px no-repeat transparent;

							> li {
								width: 100%;
								position: relative;
								// border-bottom: 1px solid #e8e8e8;

								label.gfield_label {
									font-size: 10px;
									.fo();
									color: @gray;
									position: relative;
									top: 4px;
								}

								.gfield_description {
									display: block;
									background: url(../images/icon-info.png) 0 0 no-repeat transparent;
									width: 23px;
									height: 23px;
									.nofont();
									position: absolute;
									left: 150px;
									top: 8px;
									padding: 0;
									cursor: pointer;
								}
							}

							h4 {
								font-size: 13px;
								.fm();
								letter-spacing: 1px;
								text-transform: uppercase;
								color: @orange;
							}

							p {
								color: @light;
								.fo();
								text-transform: none;
							}

							.gfield_html {
								margin-bottom: 31px !important;
								padding: 45px 0 15px;
							}

							.gfield.event-coordination,
							.gfield.wedding-documents {
								margin-bottom: 0;
								overflow: hidden;
							}

							.ginput_container {
								height: 37px;
								line-height: 36px;
								width: 280px;
								.inline-block();
								float: right;								

								.gfield_radio {
									// width: 265px;
									padding: 0;									

									li {
										width: 85px;
										text-align: center;
										height: 36px;
										line-height: 36px;
										background: #f8f8f8;
										margin: 0;
										margin-right: 7px;
										border-bottom: 1px solid #e8e8e8;
										.inline-block();
										vertical-align: top;
										// input {
										// 	d
										// }

										label {
											.nofont();
											margin: 0 auto;
											width: 26px !important;
											height: 27px !important;
											padding: 0;
											position: relative;
											top: 4px;
											background: url(../images/icon-checkbox-round.png) 0 0 no-repeat transparent;
										}

										input:checked + label { 
											background: url(../images/icon-checkbox-round.png) left bottom no-repeat transparent;	
										}								
									}		
								}
							}
						}

						// .event-coordination
						#event-coordination {
							float: left;
							position: relative;

							&:after {
								content: "";
								display: block;
								height: 90%;
								width: 1px;
								background: #ddd;
								position: absolute;
								right: -35px;
								top: 10%;
							}

							li.event-coordination {
								// position: relative;

								&:first-child:after {
									display: none;
								}

								&:after {
									content: "";
									display: block;
									width: 37%;
									height: 1px;
									background: #ddd;
									left: 0;
									bottom: 0;
									position: absolute;
								}
							}
						}

						// .wedding-documents
						#wedding-documents {
							float: right;

							li.wedding-documents {
								// position: relative;
								&:first-child:after {
									display: none;
								}

								&:after {
									content: "";
									display: block;
									width: 37%;
									height: 1px;
									background: #ddd;
									left: 0;
									bottom: 0;
									position: absolute;
								}
							}							
						}

					}

					#gform_page_@{formid}_4 {
						// overflow: hidden;
						// min-height: 1600px;

						h3 {
							font-size: 20px;
							.fm();
							letter-spacing: 1px;
							text-transform: uppercase;
						}

						.gfield_html {
							padding-top: 0;

							p {
								text-transform: none;
							}
						}

						.gform_page_footer {
							bottom: -75px;
						}
						.gfield_label {
							font-size: 13px;
							text-transform: uppercase;
							.fm();
							color: @orange;
							margin: 11px 0 12px;
						}

						li.gfield.gf_left_third, li.gfield.gf_middle_third, li.gfield.gf_right_third {
							width: 32%;

							.ginput_container {
								margin-top: 0;	
							}
							
						}

						li {
							.ginput_container {
							
							}

							&.gfield_error {
								.gfield_label {
									color: #ff0000;
								}
							}
						}						

						//datepicker
						#field_@{formid}_13 {
							min-height: 300px;
							// margin-bottom: 30px !important;

							.ginput_container {
								// text-align: center;

								input {
									width: 422px !important;
									text-align: center;
								}
							}

						}

						.top_label { 
							.gfield { 
								.ginput_container { 
									li {
										margin: 0 0 15px;
									}
									input {
										border: none;	
										background: url(../images/bg-textarea.png) 0 0 repeat transparent;
										height: 21px;
										padding: 0;
									}
									textarea {
										background: url(../images/bg-textarea.png) 0 0 repeat transparent;
										line-height: 21px;
									}										
								}
							}
						}

						#field_@{formid}_18, #field_@{formid}_69 {
							.gfield_label {
								margin:  0 0 15px;
							}
							#input_@{formid}_18, #input_@{formid}_69 {

								li {
									display: block;
								}
								label{
									background: url(../images/icon-radio.png) left top no-repeat transparent;
									height: 27px;
									line-height: 27px;
									padding-left: 35px;
									margin: 0 20px 0 0;
									cursor: pointer;

									.fa();
									font-size: 12px;
									// color: @light;
									// color: #464646;
									font-weight: normal;
								}

								// if checked
								input[type="checkbox"]:checked+label{
								    background-position: left bottom;
								    font-weight: normal;
								}	
							}		
						}

						#field_@{formid}_14 {
							margin-bottom: 30px !important;
						}

						#field_@{formid}_19 {

						}

						#field_@{formid}_17 {

							.gfield_label {
								// margin:  0 0 15px;
							}

							#input_@{formid}_17 {

								> li {
									.inline-block();
								}

								label{
									background: url(../images/icon-radio.png) left top no-repeat transparent;
									height: 27px;
									line-height: 27px;
									padding-left: 35px;
									margin: 0 20px 0 0;
									cursor: pointer;

									.fa();
									font-size: 12px;
									// color: @light;
									font-weight: normal;
								}

								// if checked
								input[type="checkbox"]:checked+label{
								    background-position: left bottom;
								    font-weight: normal;
								}							

								input[value=Yellow] {
									position: relative;
								}

								input[value=Yellow] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-yellow.png) left top no-repeat transparent;
								}							

								input[value=Yellow]:checked + label {
								 	background-position: right top;
								}

								input[value=Red] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-red.png) left top no-repeat transparent;
								}							

								input[value=Red]:checked + label {
								 	background-position: right top;
								}	

								input[value=Orange] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-orange.png) left top no-repeat transparent;
								}							

								input[value=Orange]:checked + label {
								 	background-position: right top;
								}	

								input[value=Blue] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-blue.png) left top no-repeat transparent;
								}							

								input[value=Blue]:checked + label {
								 	background-position: right top;
								}	

								input[value=Purple] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-purple.png) left top no-repeat transparent;
								}							

								input[value=Purple]:checked + label {
								 	background-position: right top;
								}		

								input[value=Green] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-green.png) left top no-repeat transparent;
								}							

								input[value=Green]:checked + label {
								 	background-position: right top;
								}		

								input[value=Black] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-black.png) left top no-repeat transparent;
								}							

								input[value=Black]:checked + label {
								 	background-position: right top;
								}		

								input[value=Brown] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-brown.png) left top no-repeat transparent;
								}							

								input[value=Brown]:checked + label {
								 	background-position: right top;
								}								

								input[value=Cream] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-cream.png) left top no-repeat transparent;
								}							

								input[value=Cream]:checked + label {
								 	background-position: right top;
								}	

								input[value=Gray] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-gray.png) left top no-repeat transparent;
								}							

								input[value=Gray]:checked + label {
								 	background-position: right top;
								}	

								input[value=White] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-white.png) left top no-repeat transparent;
								}							

								input[value=White]:checked + label {
								 	background-position: right top;
								}	

								input[value=Gold] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-gold.png) left top no-repeat transparent;
								}							

								input[value=Gold]:checked + label {
								 	background-position: right top;
								}	

								input[value=Silver] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-silver.png) left top no-repeat transparent;
								}							

								input[value=Silver]:checked + label {
								 	background-position: right top;
								}	

								input[value=Other] + label {
									position: relative;
									width: 39px;
									height: 39px;
									.inline-block();
									.nofont();
									padding: 0;
									background: url(../images/icon-c-other.png) left top no-repeat transparent;
								}							

								input[value=Other]:checked + label {
								 	background-position: right top;
								}											
							}					
						}

						label {
							.fo();
							color: @gray;
						}

						.gfield_radio {
							li {
								display: block;
							}
						}

						.field {
							input {
								background: none !important;
								border: 1px solid #ccc !important;
								padding: 0 10px !important;
								height: 30px !important;
								line-height: 30px !important;
							}
						}

						.radio {

							.gfield_label {
								// margin:  0 0 15px;
							}

							.gfield_checkbox, .gfield_radio {

								> li {
									.inline-block();
									width: 50%;
								}

								label{
									background: url(../images/icon-radio.png) left top no-repeat transparent;
									height: 27px;
									line-height: 27px;
									padding-left: 35px;
									margin: 0 20px 0 0;
									cursor: pointer;

									.fa();
									font-size: 12px;
									color: @light;
									font-weight: normal;
								}						

								input:checked + label { 
									background-position: left bottom;
								}
							}
						}
					}

					#gform_page_@{formid}_5 {
						overflow: hidden;
						.gfield .gfield_label {
							margin: 10px 0 15px;
						}
						.gform_page_footer {
							bottom: -75px;
						}						
						.gfield_radio {
							padding: 0;
							li {
								.inline-block();
							}
						}						
					}					
			}	// gform_body

		}

}

#services {

	.gform_confirmation_wrapper {
		background: #fff;
		.box-shadow(0 0 5px 1px #ddd);
		padding: 30px;
		max-width: 1000px;
		margin: 0 auto;				

		h2, p {
			text-align: center;
			color: @lighter;
		}

		h2 {
			font-size: 30px;
			.fa();
			margin: 0 0 1.2em;
		}

		.button {
			padding: 0 45px;
			height: 35px;
			line-height: 35px;
			background: @deep;
			color: #fff;	
			margin: 30px auto;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;						
			.inline-block();
			font-size: 14px;
			.transition(all .2s ease-in-out);

			&:hover {
				background: @orange;
			}
		}
	}	
}