// LARGE DESKTOP
// ------------------
@media (min-width: 1200px) {

}

// DEFAULT DESKTOP
// ---------------
@media (min-width: 980px) {
	
}

// TABLETS
// -----------------
@media (max-width: 979px) {
}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------
@media (max-width: 767px) {
}

// UP TO LANDSCAPE PHONE
// ---------------------
@media (max-width: 480px) {
}

// UP TO PORTRAIT PHONE
// ---------------------
@media (max-width: 380px) {
	
}


// iphone
@media only screen and (max-device-width: 480px) {
	#header-main {
		// background: #ff00ff;
		// min-width: 1000px;
	}		

	#about { 
		.story {
			max-width: 250px;
		}
	}

	#footer-main #twitter {
		// min-width: 1000px;
		padding: 0 15px;
	}

	#footer-main .info {
		// min-width: 1030px;
	}

	#footer-main #footer-bottom {
		// min-width: 1030px;
	}

	#container.gallery {
		.info {
			opacity: .8;
		}
	}
}